<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 id="comment-title" class="modal-title" id="myModalLabel"><%= @comment.title %></h4>
</div>
<div class="modal-body">
  <%= @comment.comment.html_safe %>
</div>
<div class="modal-footer">
<%= simple_form_for @comment, url: admin_comment_path(@comment), role: "form", remote: true, method: "patch" do |f| %>
<%= f.input :approved, as: :hidden, input_html: { value: "1" } %>
<%= f.button :submit, value: "Approve" %>
<% end %>
</div>
