<%= render partial: "admin/base/page_header", locals: { header_title: "Comments"} %>
<div class="text-center">
  <p><%# page_entries_info @comments %></p>
  <%# paginate @comments %>
</div>

<%= form_tag admin_comments_search_path do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
  <%= link_to "All", admin_comments_path, {class: "btn btn-sm btn-link"} %>
</p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Approved?</th>
    <th>View</th>
  </tr>

  <% @comments.each do |comment| %>

  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.user.email %></td>
    <td><%= comment.approved? ? "Yes" : "No" %></td>
    <td>
      <%= link_to "View", admin_comment_path(comment), class: "btn btn-primary btn-sm", remote: true, data: {toggle: "modal", target: "#comment_modal" } %>
    </td>
  </tr>

  <% end %>

</table>

<div class="text-center">
  <p><%# page_entries_info @comments %></p>
  <%# paginate @comments %>
</div>

<!-- Modal -->
<div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> 
    </div>
  </div>
</div>