<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <%= link_to "Alternativas Esenciales Admin", admin_root_path, class: "navbar-brand" %>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Back to Website", root_path, class: "pull-right" %></li>
    </ul>
  </div>
  <!-- /.navbar-header -->
  <%# render partial: "layouts/admin/top_links" %>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <%= link_to admin_root_path do %>
          <i class="fa fa-dashboard fa-fw"></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to admin_posts_path do %>
          <i class="fa fa-edit fa-fw"></i> Posts
          <% end %>
        </li>
        <li>
          <%= link_to admin_comments_path do %>
          <i class="fa fa-comment fa-fw"></i> Comments
          <% end %>
        </li>
        <li>
          <%= link_to admin_tags_path do %>
          <i class="fa fa-bookmark-o fa-fw"></i> Categories
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
          <i class="fa fa-user fa-fw"></i> Users
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>