<div id="main-blog">
	<div class="container padding-top">
		<div class="row">
			<%= render partial: 'layouts/sidebar' %>
			<div id="content" class="site-content col-md-8">
				<div class="post">
					<div class="entry-header">
						<div class="entry-thumbnail">
							<%= image_tag(@post.image_url.to_s, class: "img-responsive") %>
						</div>
					</div>
					<div class="post-content">	
						<h2 class="entry-title">
							<%= @post.title %>
						</h2>
            <%= render partial: 'post_meta_information', locals: { post: @post } %>
						<div class="entry-summary">
              <%= @post.content_html.html_safe %>
						</div>
						<div class="social-share">
							<ul>
								<li><a href="#"><img class="img-responsive" src="/assets/blog/share1.jpg" alt="" /></a></li>
								<li><a href="#"><img class="img-responsive" src="/assets/blog/share2.jpg" alt="" /></a></li>
								<li><a href="#"><img class="img-responsive" src="/assets/blog/share3.jpg" alt="" /></a></li>
								<li><a href="#"><img class="img-responsive" src="/assets/blog/share4.jpg" alt="" /></a></li>
							</ul>
						</div><!--/social-share-->
					</div>
				</div><!--/post--> 
				<div class="media-wrapper">
          <%# render partial: 'author_details', locals: { author: @post.user } %>
          <%= render partial: 'comments_area', locals: { commentable: @post } %>
			    <%= render partial: 'comment_form',  locals: { commentable: @post } %>
				</div><!--/media-wrapper-->
			</div>
		</div>
	</div>
</div><!--/#main-blog--> 