<div class="replay-box">
	<div class="row">
		<div class="col-sm-12">
			<h3>Leave a Comment</h3>
			<%= simple_form_for @comment, id: "comment-form" do |f| %>
			  <%= f.input :title %>
			  <%= f.input :comment %>
			  <%= f.input :commentable_id, as: :hidden, value: commentable.id %> 
			  <%= f.input :commentable_type, as: :hidden, value: commentable.class %>
			  <%= f.input :user_id, value: current_user.id if user_signed_in? %>
			  <%= f.button :submit, value: "Send Comment", class: "pull-right" %>
			<% end %>
		</div>
	</div>
	</div><!--/Reply Box-->