<li class="media">
	<div class="post-comment">
		<a class="pull-left" href="#">
			<img class="media-object" src="/assets/blog/author.png" alt="">
		</a>
		<div class="media-body">
			<h3 class="media-heading"><%= @comment.title %></h3>
			<div class="entry-meta">
				<ul>
					<li class="author"><i class="fa fa-user"></i> <%= @comment.commenter.email %></li>
					<li class="publish-date"><i class="fa fa-calendar"></i> <%= @comment.created_at %></li>
			  </ul>
			</div>
			<p></p>
			<p><%= MarkdownWriter.to_html(@comment.comment).html_safe %></p>

			<ul class="entry-meta pull-right">
				<li>
			    <%= link_to new_comment_path(commentable_type: "Comment", commentable_id: @comment.id, user_id: current_user.id),  data: { toggle: "modal", target: "#comment_modal" }, remote: true, class: "btn-reply" do %>
				  <i class="fa fa-mail-forward (alias)"></i> Reply
			    <% end %>
				</li>
				<li>
		      <% if current_user == @comment.commenter %>
						<%= link_to edit_comment_path(@comment), data: { toggle: "modal", target: "#comment_modal" }, remote: true, class: "btn-reply" do %>
						  <i class="fa fa-mail-forward (alias)"></i> Edit
						<% end %>
		      <% end %>
				</li>
			</ul>

		</div>
	</div>
</li>
<ul class="parent media-list">
	<% @comment.comments.each do |comment| %>
		 <%= render partial: "post_comment", locals: { :@comment => comment, :@post => @post } unless comment.new_record? %>
	<% end %>
</ul>
