<div id="sidebar" class="col-md-4">
	<div class="widget-area">
		<%= render partial: 'blog_search' %>
		<%= render partial: 'admin_sidebar' if user_signed_in? && current_user.admin? %>
		<%= render partial: 'categories' %>
		<%= render partial: 'latest_posts' %>
		<%= render partial: 'recent_comments' %>
		<%# render partial: 'tag_cloud' %>
	</div>
</div> <!--/Sidebar-->